html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
}


#img{ 
  width: 6;
  height: 10;
  opacity: 0.5;
}


table {   
	border-collapse:collapse;
	border-bottom:1px solid yellow;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:83%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #ffff00;
	padding:10px;
	color: #0000ff;
	
}

tr {
	border-top:1px solid yellow;
	text-align:center;
	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #ffff80}	
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #ffff00; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #0000ff;;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}
#img{ 
  width: 6;
  height: 10;
  opacity: 0.5;
}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	width: 150px; 
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}